*,
*b::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 4rem;
  background-color: #34325c;
}

.btn {
  border: 4px solid #000;
  box-shadow: 3px 5px #000;
  cursor: pointer;
  background-color: #282562;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #fff;
  color: #282562;
}

.main-title {
  font-size: 8rem;
  color: #fff;
}

.main-section {
  display: flex;
  gap: 4rem;
  margin: 3rem;
  justify-content: space-between;
  align-items: flex-start;
}

.scores-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 55%;
}

.scores-section__header {
  display: flex;
  justify-content: space-between;
}

.scores-section__title {
  margin: 0 20px 0 0;
  font-size: 3rem;
  color: #fff;
}

.refresh-btn {
  padding: 0 1em;
  height: 41px;
  color: #fff;
}

.scores-section__result {
  display: flex;
  flex-direction: column;
  border: 4px solid #34325c;
  border-radius: 20px;
}

.scores-section__result span {
  font-size: 2rem;
  padding: 0.8rem;
  background: #242255;
  color: #fff;
}

.scores-section__result span:nth-child(even) {
  background: #29284b;
}

.score-submit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  align-items: center;
}

.score-submit__title {
  margin: 0;
  font-size: 3rem;
  color: #fff;
}

.score-submit__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.score-submit__form input {
  height: 35px;
  padding: 0.5em;
  background-color: #29284b;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  color: #fff;
}

.score-submit__form input:focus {
  outline: none;
  border: 4px solid #244387;
}

.submit-btn {
  padding: 0.5em 1em;
  height: 41px;
  align-self: flex-end;
  color: #fff;
}
